---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro'
import FormattedDate from '../../components/FormattedDate.astro';
import { ViewTransitions } from 'astro:transitions';


const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Layout
		title="Danilo Diez"
		description="Get to know me"
	 >
		<Header />
			<main class="pt-48 h-[100dvh]">
				<h1 class="text-5xl font-semibold">All posts</h1>
			<section class="mt-8">
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`} class="flex gap-x-8">
									<FormattedDate date={post.data.pubDate} />
									<div>
										<h4 class="font-bold text-2xl">{post.data.title}</h4>
										<p>{post.data.description}</p>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</Layout>
</html>
